body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5% 10%;
  background-color: #f0f9ff;
  color: #0c4a6e;
}
@media (max-width: 800px) {
  body {
    padding: 5% 5%;
  }
}
@media (max-width: 500px) {
  body {
    padding: 2% 2%;
  }
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  margin: 0;
}

.card {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(211, 211, 211, 0.6)
}

.mainScreen {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 30px;
}
@media (max-width: 1100px) {
  .mainScreen {
    grid-template-columns: 1fr;
  }
}

.menu {
  display: grid;
  grid-template-rows: 100px;
  grid-gap: 20px;
}
@media (max-width: 1100px)  {
  .menu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

#cardTitle {
  background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: 20px;
}
#cardTitle a {
  font-size: 12px;
  margin: 5px;
}

#cardTitle a:hover {
  color: orange;
}

.tagContainer {
  float: left;
  align-self: start;
  white-space: pre-wrap;
}

.tag {
  user-select: none;
  background-color: #f0f9ff;
  border-radius: 10px;
  padding: 7px;
  color: #2563eb;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  margin: 5px;
}

.menuTag:hover, .menuTag:active, .selectedTag {
  background-color: #2563eb;
  color: white;
}

main {
  display: grid;
  gap: 20px;
}
@media (max-width: 650px) {
  main {
    gap: 50px;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #0c4a6e;
  color: white;
  font-weight: bold;
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  user-select: none;
}
@media (max-width: 1000px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 400px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
}

.suggestions {
  font-size: 20px;
}
#sort {
  background-color: #0c4a6e;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: inline;
}
button {
  background-color: #a855f7;
  color: white;
  border: none;
  border-radius: 10px;
  height: 100%;
  font-size: 16px;
  user-select: none;
}
button:hover {
  background-color: #c084fc;
}
button:disabled {
  cursor: not-allowed;
  background-color: lightgray;

}
@media (max-width: 600px) {
  .suggestions {
    font-size: 14px;
  }
  header label {
    font-size: 12px;
  }
  #sort {
    font-size: 12px;
  }
  .addFeedback {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .suggestions {
    display: none;
  }
}

.feedback {
  display: grid;
  grid-auto-rows: 150px;
  gap: 20px;
}

.feedbackCard {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
@media (max-width: 800px) {
  .feedbackCard {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr;
  }
  .cardContent {
    grid-column: 1 / -1;
  }
  .likes {
    grid-row: 2;
    width: 10%;
  }
}

.feedbackCardText {
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 600px) {
  .feedbackCardText {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .feedbackCardText {
    width: 200px;
  }
}

.cardContent {
  margin-bottom: 10px;
}

.likes {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e0f2fe;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.6);
  width: 30%;
  height: 50%;
}
@media (max-width: 800px) {
  .likes {
    grid-row: 2;
    width: 25%;
    height: 90%;
    flex-direction: row;
    justify-content: space-around;
  }
}

.likes:hover {
color: #0284c7;
}

.likes,
.comments {
  justify-self: center;
  user-select: none;
}

.comments {
  display: flex;
  align-items: center;
  gap: 5px;
}

.backHome {
  margin-bottom: 20px;
}

#feedbackFormBackground {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 130%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0, 0.4);
}

#feedbackForm {
  position: fixed;
  top: 15%;
  justify-self: center;
  z-index: 10;
  background-color: #f0f9ff;
  height: 500px;
  border-radius: 20px;
  padding: 20px;
}

.preventScroll {
  overflow: hidden;
  height: 100%;
}

form {
  display: grid;
  gap: 10px;
}

textarea {
  resize: none;
}

#feedbackForm textarea {
  width: 95%;
  height: 150px;
}

#feedbackForm button {
  width: 200px;
  height: 40px;
  justify-self: center;
  grid-row: 10;
}

.invalid {
  border: 1px solid red;
}
::placeholder {
  font-family: sans-serif;
}

#loginScreen h1 {
  text-align: center;
}

#loginScreen{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: auto;
}

#loginForm {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#loginForm form {
  gap: 15px;
}

#loginForm button {
  height: 40px;
}

.alert {
  font-size: 10px;
  padding: 0 10px;
  margin-top: -10px;
}

#loginForm input {
  width: 200px;
}

#loginForm a {
  color: #a855f7;
}